# Server
PORT=3001

# Supabase
SUPABASE_URL=https://uvcmiyiismnruxgphaub.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key

# JWT
JWT_SECRET=studysphere_jwt_2026_novixo

# AI Keys
GROQ_API_KEY=your_groq_key
GEMINI_API_KEY=your_gemini_key

# Frontend URL
FRONTEND_URL=https://studysphere-liard.vercel.app

